/node_modules/
*swp
*swo
/src/*.js
/src/common/*.js
/src/editor/*.js
/src/editor/marker/*.js
/src/evaluation_table/*.js
/src/topic/*.js
/src/medium_arrow/*.js
/src/ui/*.js
/src/clip/*.js
/src/filing/*.js
